* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'PT serif';
    src: url(./Fonts/PT/PTSerif-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'PT serif';
    src: url(./Fonts/PT/PTSerif-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url(./Fonts/OpenSsans/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Open Sans';
    src: url(./Fonts/OpenSsans/OpenSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Open Sans';
    src: url(./Fonts/OpenSsans/OpenSans-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Oswald';
    src: url(./Fonts/Oswald/Oswald-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Oswald';
    src: url(./Fonts/Oswald/Oswald-Medium.ttf);
    font-weight: 500;
}

@opeSans: 'Open Sans';
@pt: 'PT Serif';


@primary-color: #707070;
@secondary-color :black;
@price-color: #740000;
@btn-color: #0088CC;



body {
    .main-section {
        .main-container {
            .inner-container {
                .header-section {
                    .header-container {
                        .header-img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .banner-container {
                        background-image: url(/Images/Banner.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        // height: 150px;

                        .breadcrumbs-div {

                            .breadCrumbs {
                                font: 600 12px/17px @opeSans;
                                color: #FFFFFF;
                                padding: 20px 0px 0px 28px;
                            }
                        }

                        .shop-flex {
                            .shop-head {
                                .shopTitle {
                                    font: 400 40px/53px @pt;
                                    color: white;
                                    text-align: center;
                                }
                            }

                            .countWines {
                                font: 600 16px/22px @opeSans;
                                color: white;
                                text-align: center;
                                padding-top: 8px;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}